.choose-bar{
  text-align: center;
  width: px2rem(359);
  margin: 0 auto 0 auto;
  //color: #ffffff;
  .choose-question{
    background-color: #ffffff;
    border-radius: px2rem(4);
    padding: px2rem(15) 0 px2rem(15) 0;

    h1{
      font-size: px2rem(20);
      margin-bottom: px2rem(15);
    }
    p{
      font-size: px2rem(16);
      margin: px2rem(15) 0 px2rem(15) 0;
    }
  }
  .choose-options{
    position: relative;
    background-color: #ffffff;
    border-radius: px2rem(4);
    height: px2rem(40);
    line-height: px2rem(40);
    margin: px2rem(8) 0 px2rem(8) 0;
    .click-bar{
      position: absolute;
      height: 100%;
      width: 100%;
    }
    img{
      top: 0;
      position: absolute;
      height: px2rem(28);
      width: px2rem(28);
      right: px2rem(4);
      margin-top: px2rem(6);
    }
  }
  .choose-tips{
    background-color: #595959;
    border-radius: px2rem(4);
    padding: px2rem(15) 0 px2rem(15) 0;
    margin-top: px2rem(18);
    h1{
      font-size: px2rem(20);
      margin: px2rem(15) 0 px2rem(15) 0;
    }
    p{
      font-size: px2rem(20);
      margin: px2rem(5) 0 px2rem(5) 0;
    }
    .tips-font{
      opacity: 0.4;
      color: #FFFFFF;
    }
  }
}