.get-reward{
  background-size: cover;
  position: relative;
  .reward-pic{
    position:absolute;
    top:50%;
    left:50%;
    margin-top: px2rem(-180);
    margin-left: px2rem(-93);
    width: 50%;
    z-index: 150;
  }
  .reward-recommand{
    position:fixed;
    top:50%;
    left:50%;
    margin-top: px2rem(156);
    margin-left: px2rem(-54);
    width: 29%;
    z-index: 100;
  }
  .rewar-light{
    position:fixed;
    top:50%;
    left:50%;
    margin-top: px2rem(-360);
    margin-left: px2rem(-350);
    width: px2rem(700);
    z-index: 50;
    animation: rotate 8s infinite;
    animation-timing-function: linear;
  }


  @keyframes rotate
  {
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
  }

}
