.share-panel-view{
  position: fixed;
  top: 3rem;
  width: 80%;
  margin: 0 10%;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;

  .share-title{
    margin-top: .75rem;
    font-size: px2rem(32);
    color: #FF6927;
  }

  .share-img{
    display: inline-block;
    height: 50%;
    width: 50%;
    margin: .5rem 0;
  }

  .share-desc{
    font-size: px2rem(28);
  }

  .share-confirm-button{
    margin: 1rem auto;
    height: 2rem;
    line-height: 2rem;
    width: 60%;
    background-color: #FF6927;
    color: #fff;
    border-radius: 5px;
  }

}