.Timeout{

  .container{
    width: 100%;
    background-color: #fd8989;
    color: #414041;
    display: flex;
    flex-flow:row nowrap;
    padding: .5rem;

    .show-time{
      margin-left: -1.2rem;
      font-size: px2rem(38);
    }
    img{
      width: .8rem;
      height: .8rem;
      background-size: 100% 100%;
      margin: .2rem .3rem;
    }
  }
}