.home-course-list{
  width: px2rem(351);
  padding-top: px2rem(10);
  margin: 0 auto 0.9rem auto;
  .course-banner{
    width: 100%;
    height: px2rem(224);
    border-radius: 5px;
    margin-bottom: px2rem(20);
  }
  .course-list{
    .course-content-line{
      margin-bottom: px2rem(10);
      img{
        width: 100%;
        height: px2rem(111);
      }
    }
  }
}