.course-process-bar{
  position: fixed;
  left: px2rem(30);
  top: px2rem(500);
  z-index: 1000;
  .process-bar{
    display: inline-block;
    margin-bottom: px2rem(10);
  }
  .process-bar-have{
    color: green;
  }
  .process-bar{
    color: yellow;
  }
}